{
{% if docker_data_root is defined %}
"data-root": "{{ docker_data_root }}",
{% endif %}
"exec-opts": ["native.cgroupdriver=systemd"],
  "registry-mirrors": [
    "https://gh-proxy.org/docker",
    "https://docker.m.daocloud.io",
    "https://docker.nju.edu.cn",
    "http://hub-mirror.c.163.com",
    "https://docker.1ms.run",
    "https://14mc21ucusppmu.xuanyuan.run",
    "https://dockerproxy.net",
    "https://docker.1panel.live",
    "https://docker.fxxk.dedyn.io",
    "https://registry.cn-hangzhou.aliyuncs.com",
    "https://registry.cn-shanghai.aliyuncs.com",
    "https://registry.cn-qingdao.aliyuncs.com",
    "https://registry.cn-beijing.aliyuncs.com",
    "https://registry.cn-zhangjiakou.aliyuncs.com",
    "https://registry.cn-huhehaote.aliyuncs.com",
    "https://registry.cn-wulanchabu.aliyuncs.com",
    "https://registry.cn-shenzhen.aliyuncs.com",
    "https://registry.cn-heyuan.aliyuncs.com",
    "https://registry.cn-guangzhou.aliyuncs.com",
    "https://registry.cn-chengdu.aliyuncs.com",
    "https://docker-0.unsee.tech",
    "https://registry.cn-hongkong.aliyuncs.com",
    "https://registry.ap-northeast-1.aliyuncs.com",
    "https://registry.ap-southeast-1.aliyuncs.com",
    "https://registry.ap-southeast-3.aliyuncs.com",
    "https://registry.ap-southeast-5.aliyuncs.com",
    "https://registry.eu-central-1.aliyuncs.com",
    "https://registry.eu-west-1.aliyuncs.com",
    "https://registry.us-west-1.aliyuncs.com",
    "https://registry.us-east-1.aliyuncs.com",
    "https://registry.me-east-1.aliyuncs.com",
    "https://mirror.ccs.tencentyun.com",
    "https://gcr.io",
    "https://asia.gcr.io",
    "https://eu.gcr.io",
    "https://registry.hub.docker.com"
  ],
  "insecure-registries":["http://{{ harbor_hostname }}"],
  "max-concurrent-downloads": 10,
  "log-driver": "json-file",
  "log-level": "warn",
  "log-opts": {
    "max-size": "100m",
    "max-file": "3"
    }
}